@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
   background: black;
}

:root {
    --logo-color: white;
    
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    padding: 6px 14px;
    background-color: transparent;
    backdrop-filter: blur(80px);
    transition: .5s;
}

.sidebar.active {
    width: 260px;

}

.sidebar .logo-menu {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
}

.sidebar .logo-menu .logo {
    font-size: 25px;
    color: var(--logo-color);
    pointer-events: none;
    opacity: 0;
    transition: .3s;

}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition-delay: .2s;
}

.sidebar .logo-menu .toggle-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

.sidebar.active .logo-menu .toggle-btn {
    left: 90%;
}

.sidebar .list {
    margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    
    margin: 5px 0;
    line-height: 50px;
}

.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    white-space: nowrap;
    text-decoration: none;
    transition: .5s;
    border-radius: 6px;
}


.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2);

}

.list .list-item a i {
    height: 50px;
    min-width: 50px;

    
    text-align: center;
    line-height: 50px;
}

.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));

}


.site-name {
    background-color: transparent;
    backdrop-filter: blur(80px);
    border-radius: 40px;
    padding: 20px;
    position: absolute;
    top: 80px;
    left: 20%;
}


.site-name h1 {
    color: white;
    font-size: 10vw;
}

.background-section {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: relative;
    margin: 0 auto;
    background-color: black;
    background: url("../media/background.png") no-repeat;
}

.info-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../media/info-section.png") no-repeat;
}

.features {
    background-color: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.feature {
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex-basis: calc(33.333% - 40px);
    transition: transform 0.3s;
}

.feature:hover {
    transform: scale(1.05);
}

.feature-icon {
    font-size: 2em;
    margin-bottom: 15px;
}

h3 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

#opinie-klientow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Zajmuje całą wysokość ekranu */
    background-color: black;
}

#opinie-klientow h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

.opinie-container {
    position: relative;
    width: 60%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opinia {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
}

.opinia.active {
    opacity: 1;
}

.opinia p {
    font-size: 1.5rem;
    color: white;
}

.opinia span {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: white;
}


.o_mnie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    gap: 50px;
    background: url("../media/info-section.png") no-repeat;
}

.o_mnie h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

.to-left, .to-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    transition: 0.5s all ease-in-out;
    
}


.to-left img, .to-right img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.to-left p, .to-right p {
    font-size: 1rem;
    color: white;
    padding: 20px;
}


.to-left:hover, .to-right:hover {
    transform: scale(1.05);
    transition: 0.5s all ease-in-out;
}












.courses-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    background: url("../media/info-section.png") no-repeat;
}

.card-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
    gap: 20px;
    flex-wrap: wrap;
}
.course-card {
    background: transparent;
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 8px;
    margin: 10px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-card img {
    width: 200px;
    height: auto;
}

.course-info {
    padding: 20px;
}

.badge {
    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.course-info h3 {
    margin-top: 10px;
}

.course-info p {
    margin: 5px 0;
}

.course-info ul {
    list-style-type: none;
    padding: 0;
}

.course-info ul li {
    margin-bottom: 5px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h2 {
    color: white;
}